{% extends 'layout.html.twig' %}

{% block title %}Hello TournamentController!
{% endblock %}

{% block content %}
		<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<tr>
			<td>{{tournaments.name}}</td>
			<td>
				<a href="{{ path('tournament_delete', {'id': tournaments.id}) }}">supprimer ce tournois</a></br>
			</td>
			<td>Liste des participants inscrits :</td></br>
			{% for user in users %}
				<td>{{user.username}}</td></br>
			</tr>
		{% else %}
			<tr>
				<td>Pas de tournois créé</td></br>
			</tr>
		{% endfor %}
		

		<td>
			<a href="{{ path('tournament_new') }}">Créer un autre tournois</a></br>
			<a href="{{ path('tournament_index') }}">Retour à la liste des tournois</a></br>
		</td>
	</div>

{% endblock %}
